.header{
    margin:0;
    padding:0;
    :hover{
      cursor:pointer;
    }
  }
  .burger-button{
    background-color:$color-cerulean;
    border:none;
    position:fixed;
    margin:0;
    top:0;
    left:0;
    padding:14px;
  }
  